@charset "ISO-8859-1";

body{
	background-color: azure;
}
header{
	padding: 20px 0;
}

.container{
	display: flex;
	text-align: center;
}
		
header h1{
	font-weight: 700;
	margin:0;
	
}

header p {
  padding: 0 20px;
  margin: 0;
}

header nav{
	display:flex;
	margin-top: 10px;
}

.col-sm-4{
	
}
.jumbotron {
	
	height: 500px;
	background-size: cover;
	background-image: url("coffee.jpg");
	background-repeat: no-repeat;
	background-position: top center;
}

.jumbotron h3 {  
  
  font-size: 30px;
  font-weight: 500;
  color: aqua;
  margin-top: auto;
  margin-left: auto;   
}

.main{
	width : auto;
	display: flex;
	flex-direction: row;
	text-align: center;
	
	margin-left: auto;
	margin-right: auto
	
}

.left{
	width: 100%;
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
	
	
	
	
}
.right {
	margin-top: -11px;
	width: 100%;
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
	
	
}


.about p{
	text-align:center;
	border: 2px solid grey;
	padding: 15px;
	font-size: 15px;
	overflow:auto;
	background-color: lightgrey;
	/*margin: auto;*/
	
	
	width: 100%;
	max-width: 450px;
	height: 200px;
	
	/*height: 100%;
	max-height: 200px;*/
}

.about h3{
	font-size: auto;
	
	margin-bottom: 10px;
	
}


.links{
	text-align: left;
	width: auto;
	margin-left: auto;
	margin-top: auto;
	margin-bottom: 10px;
}

.HP{
	text-align: center;
	width:auto;
	
	font-size: auto;
	margin-left: auto;
	
	
}

.HP h3{
	font-size: 15px;
	font-weight: bold;
}

.links img{
	border: 2px solid grey;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width:450px;
	height: 200px;
	max-height: 200px;
	
	
}

@media (max-width: 500px){
	.nav2{
	display:none; !important;
	}
}

@media (max-width: 500px){
	.nav{
	display:none; !important;
	}
}

.middle img{
	
	margin-left: auto;
	margin-right: auto;
    height: auto;
    max-height: 730px;
	width: 100%;
	max-width: 500px;
	border: 5px groove lightblue;
	margin: auto;
	margin-top:auto;
	
}

#footer{		
	width: 100%;
    margin-top: 30px;
	text-align:center;
	position: relative;
	bottom:0;
	
}



.but{
	cursor: pointer;
   
  position: relative;
  margin-bottom: 5px;
	
}
 .but:active{
 top: 6px;
 }

 .rows{
 margin-bottom: 10px;
 }
 
 
 
 
 .page2{
 
 background-color: white;
 border: black
 }
 
 .body2{
	
	font-family: Calibri, Times New Roman;
	height: 1000px;
	margin-bottom: 30px;
	background-color: white;
	
	
}

.info{
	font-size: 15px;
}

.biggermain{
	display:flex;
	flex-direction: row;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	height: auto;
	
}


.header2{
	text-align: center;
	
}

.list li{
	font-size: 16px;
	font-size: 3vh;
}

@media screen and (min-width: 500px) {
  .list li {
     font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .list li {
     font-size: 11px;
  }
}


.page2 h1{
	font-family: Arial, Times New Roman;
	font-size: 45px;
	margin-top: 20px;
	margin-bottom: -15px;
}



.Objective {
	text-align: center;
	font-size: 15px;
}

.main2{
	margin-left: 20px;
	margin-right:50px;
	
}

.Headings{
	font-family:Georgia, Times New Roman;
	font-size: 20px;
	margin-bottom: 10px;
}

.edu1{
	margin-left: 20px;
	font-size: 18px;
	
}

.edu-p{
	margin:3px;
}
p.green{
	color: green;
	margin-left: 4px;
}

.row p{
	display:inline-block;
	vertical-align:top;
	margin-top: 3px;
	margin-bottom:3px;
}

.Rimg img{		
	/*margin: auto;
	margin-top: 20px;
	float:right;
    
	max-width:500px;
	
	border: 5px solid grey;*/
	float:right;
	margin-left: auto;
	margin-right: auto;
    height: auto;
    max-height: 730px;
	width: 100%;
	max-width: 500px;
	border: 5px groove lightblue;
	margin: auto;
	margin-top:auto;
	
    
    
    
    
}

 
